# ライブラリ読み込み

In [30]:
import pandas as pd

In [31]:
import numpy as np

# 予測結果読み込み

In [32]:
result_lstm = pd.read_csv("result_LSTM.csv")
result_lstm

      kind      date  mode_price
0     だいこん  20220502   961.66840
1     だいこん  20220506   940.71300
2     だいこん  20220507   988.72350
3     だいこん  20220509   943.05414
4     だいこん  20220510   958.27110
..     ...       ...         ...
315  ミニトマト  20220526   136.03987
316  ミニトマト  20220527   134.92052
317  ミニトマト  20220528   137.21060
318  ミニトマト  20220530   132.54948
319  ミニトマト  20220531   134.63176

[320 rows x 3 columns]

In [33]:
result_prophet = pd.read_csv("result_prophet.csv")
result_prophet

      kind      date  mode_price
0     だいこん  20220502  853.775550
1     だいこん  20220506  835.035522
2     だいこん  20220507  820.898149
3     だいこん  20220509  822.616543
4     だいこん  20220510  825.684007
..     ...       ...         ...
315  ミニトマト  20220526   95.767513
316  ミニトマト  20220527   95.853024
317  ミニトマト  20220528   97.241873
318  ミニトマト  20220530   97.441669
319  ミニトマト  20220531   97.954456

[320 rows x 3 columns]

# Ensemble

## LSTM:Prophet=5:5

In [34]:
df_result = pd.merge(result_lstm, result_prophet, how="left", on=["kind", "date"])

In [35]:
df_result["mode_price"] = (df_result["mode_price_x"] + df_result["mode_price_y"])/2
df_result

      kind      date  mode_price_x  mode_price_y  mode_price
0     だいこん  20220502     961.66840    853.775550  907.721975
1     だいこん  20220506     940.71300    835.035522  887.874261
2     だいこん  20220507     988.72350    820.898149  904.810824
3     だいこん  20220509     943.05414    822.616543  882.835342
4     だいこん  20220510     958.27110    825.684007  891.977554
..     ...       ...           ...           ...         ...
315  ミニトマト  20220526     136.03987     95.767513  115.903691
316  ミニトマト  20220527     134.92052     95.853024  115.386772
317  ミニトマト  20220528     137.21060     97.241873  117.226237
318  ミニトマト  20220530     132.54948     97.441669  114.995575
319  ミニトマト  20220531     134.63176     97.954456  116.293108

[320 rows x 5 columns]

In [36]:
df_result.drop(["mode_price_x", "mode_price_y"], axis=1)

      kind      date  mode_price
0     だいこん  20220502  907.721975
1     だいこん  20220506  887.874261
2     だいこん  20220507  904.810824
3     だいこん  20220509  882.835342
4     だいこん  20220510  891.977554
..     ...       ...         ...
315  ミニトマト  20220526  115.903691
316  ミニトマト  20220527  115.386772
317  ミニトマト  20220528  117.226237
318  ミニトマト  20220530  114.995575
319  ミニトマト  20220531  116.293108

[320 rows x 3 columns]

In [37]:
df_result.drop(["mode_price_x", "mode_price_y"], axis=1).to_csv("result_LSTM5_prophet5.csv", index=False, encoding="utf_8_sig")